# Core
streamlit
requests
python-dotenv
pypdf

# LangChain core + integrations
langchain
langchain-community
langchain-google-genai ==2.1.10
GoogleGenerativeAIEmbeddings

# Vectorstore
faiss-cpu

# NLP / embeddings
sentence-transformers
numpy
pydantic
tiktoken
